#!/usr/bin/env python

GCE_PARAMS = ('{{ gce_project.service_account_email }}', 
              '{{ warp_project_home }}/credentials/{{ gce_project.json_credentials_file }}')

GCE_KEYWORD_PARAMS = {'project': '{{ gce_project.name }}'}
